/* @media (min-width: 1920px) {
  .custom-slider .slick-prev {
    left: -45px;  
    margin-left: 30px;  
  }

  .custom-slider .slick-next {
    right: -45px; 
    margin-right: 30px;  
  }

  .custom-slider .slick-slide {
    padding-right: 25px;  
    padding-left: 25px;  
  }
}
@media (max-width: 600px) {
  .tu-clase-de-imagen {
    margin: 0 20px;  
} */
