.ticker-wrap {
  background-color: #333333;
  white-space: nowrap;
  overflow: hidden; /* Asegúrate de que esto esté activado */
  padding-top: 0px;
}

.ticker {
  -webkit-animation: tickerMove 5s linear infinite;
  animation: tickerMove 5s linear infinite;
  /* will-change: transform; */
}

/* Revisa las animaciones para asegurarte de que los porcentajes de transformación son correctos */
@-webkit-keyframes tickerMove {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-20%); }
}

@keyframes tickerMove {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-20%); }
}

.ticker-item {
  display: inline-block;
  padding: 0;
  margin: 0;
}
