.flip-horizontal-bottom {
	-webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both infinite ;
	        animation: flip-horizontal-bottom 3.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both infinite;
}
@-webkit-keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }
  }
  @keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }
  }
  
  .textStyles2 {
    font-family: 'Mulish', sans-serif;}

    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
