/* @font-face {
  font-family: 'Playfair Display', serif;
  src: url('./assets/fonts/PlayfairDisplay-Medium.ttf') format('truetype');
    
   font-weight: 700;
   
} */
  
 *{
  margin:0;
  padding:0;
  box-sizing:border-box;   font-family: 'Oswald', sans-serif;  font-weight: 700;


 }
  
 a {
  text-decoration: none !important;
}
 /* #root{
  font-family: 'Alumni Sans Collegiate One', sans-serif;

 } */